:root {

    --colorprimario: #F8F9FA;
    --colorsecundario: #1B263B;
    --colorterciario: #D4AF37;
}

.ContenedorPrincipal {

    background-color: var(--colorprimario);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 0.5fr;
    margin:0; 
    padding: 0;
    width:100%;
    height:100%;
}

i {
     color: var(--colorterciario);
    font-size: 200%;
    cursor: pointer;
}

 .MenuTop {

    background-color: var(--colorsecundario);
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap: 3%;
}

.MenuTop {
    grid-column: 1 / -1;
}

.MenuTop header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    width: 75%;
}

.menustart {

    display: flex;
    align-items: center;
    gap: 3%;
    padding: 0 2%;
}

.menucenter {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
    gap: 3%;
    padding: 0 4%;

}

h1 {
    padding: 0 4%;
    color: var(--colorprimario);
    white-space: nowrap;
    cursor: pointer;
}

.menucenter a {
    text-decoration: none;
    color: var(--colorprimario);
    padding: 0 4%;
    font-size: 1.2rem;
    letter-spacing: 10%;
}

.menucenter a:hover {

    color: var(--colorterciario);

}


body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}

/*Hero*/

.hero h2 {

    color:var(--colorprimario);
    letter-spacing: 3%;
    padding: 6%;
    font-size: 400%;
    text-align: center;
    white-space: nowrap;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}

.hero p {

    color: var(--colorprimario);
    letter-spacing: 3%;
    padding: 2%;
    font-size: 150%;
    text-align: center;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.6);
}

.hero button {

    color: var(--colorsecundario);
    background-color: var(--colorterciario);
    border-radius: 30%;
    border: none;
    cursor: pointer;
    padding: 2%;
    margin-top: 3%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-size: 200%;
    box-shadow: 2px 2px 2px 1px var(--colorsecundario);
    transition: 1s ease-in-out;
}

.hero button:hover {

    color: var(--colorsecundario);
    background-color: var(--colorterciario);
    border-radius: 30%;
    border: none;
    cursor: pointer;
    padding: 2%;
    margin-top: 3%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    font-size: 250%;
    box-shadow: 2px 2px 2px 1px var(--colorsecundario);
    

}

.hero {

    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(46, 55, 65, 0.8), rgba(46,55,65,0.8)),
    url(mathematical-physical-formulas-against-background-260nw-2602477871copia.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}