:root {

    --colorprimario: #F8F9FA;
    --colorsecundario: #1B263B;
    --colorterciario: #D4AF37;
}

.ContenedorPrincipal {

    background-color: var(--colorprimario);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 0.5fr;
    margin:0; 
    padding: 0;
    width:100%;
    height:100%;
}

i {
     color: var(--colorterciario);
    font-size: 200%;
    cursor: pointer;
}

 .MenuTop {

    background-color: var(--colorsecundario);
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap: 3%;
}

.MenuTop {
    grid-column: 1 / -1;
}

.MenuTop header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    width: 75%;
}

.menustart {

    display: flex;
    align-items: center;
    gap: 3%;
    padding: 0 2%;
}

.menucenter {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
    gap: 3%;
    padding: 0 4%;

}

h1 {
    padding: 0 4%;
    color: var(--colorprimario);
    white-space: nowrap;
    cursor: pointer;
}

.menucenter a {
    text-decoration: none;
    color: var(--colorprimario);
    padding: 0 4%;
    font-size: 1.2rem;
    letter-spacing: 10%;
}

.menucenter a:hover {

    color: var(--colorterciario);

}


body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
}